<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/personsfromfirestation.css" />
    <title>SafetyNetAlert</title>
</head>
<body>
    <h2 class="h2">List of persons protected by a fire station.</h2>
    <div>
        <span>Number of adult : </span><em th:text="${majorsNumber}">Major Number</em><br>
        <span>Number of children (under 18) : </span><em th:text="${minorsNumber}">Minor Number</em>
    </div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Road</th>
                <th>City</th>
                <th>Zip</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${persons.empty}">
                <td colspan="3">Aucun employée en base de données</td>
            </tr>
            <tr th:each="person: ${persons}">
                <td><span th:text="${person.firstName}"> First Nameee </span></td>
                <td><span th:text="${person.lastName}"> Last Name </span></td>
                <td><span th:text="${person.address.road}"> Road </span></td>
                <td><span th:text="${person.address.city}"> City </span></td>
                <td><span th:text="${person.address.zip}"> Road </span></td>
                <td><span th:text="${person.phone}"> Phone Number </span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>